@page
@using TrainingWeb.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Training website</h1>
</div>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))


<script src="_framework/blazor.server.js"></script>